.air {
    width: 325px;
    height: 100px;
    background-color: hsl(234, 32%, 17%);
}
@media screen and (min-width:300px) {
    .air {
        width: 350px;
        height: 150px;
        background-color: hsl(234, 32%, 17%);
    }
}

.centerAir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(240, 15%, 95%);
}

.nameA{
    margin-block-end: 0;
}
.airC {
    display: flex;
}
.numA {
    margin: 0;
    font-size: 30px;
}
.mb {
    margin: 0;
    display: flex;
    align-items: center;
}
