.humidity {
    width: 325px;
    height: 150px;
    background-color: hsl(234, 32%, 17%);
}
@media (min-width: 300px) and (max-width:500px) {
    .humidity {
        width: 350px;
        height: 150px;
        background-color: hsl(234, 32%, 17%);
    }
}
@media (min-width:700px) and (max-width: 900px) {
    .humidity {
        width: 300px;
        height: 150px;
        background-color: hsl(234, 32%, 17%);
    }
}

.centerHumidity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(240, 15%, 95%);
}
.hHum {
        font-size: 13px;
        color: #E7E7EB;
}
.percent {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
.percent > p {
    font-size: 7px;
}
.progress-bar {
    width: 80%;
    height: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  .progress {
    height: 100%;
    background-color: yellow;
    border-radius: 5px;
  }
.hu {
    display: flex;
}
.huTwo {
    margin: 0;
    font-size: 55px;
}
.por {
    margin: 0;
    display: flex;
    align-items: center;
}
