.visibility {
    width: 325px;
    height: 100px;
    background-color: hsl(234, 32%, 17%);
}
@media screen and (min-width:300px) {
    .visibility {
        width: 350px;
        height: 150px;
        background-color: hsl(234, 32%, 17%);
    }
}

.centerVisibility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(240, 15%, 95%);
}
.nameV {
    margin-block-end: 0;
}
.visi {
    margin: 0;
    font-size: 30px;
}
.mi {
    margin: 0;
    display: flex;
    align-items: center;
}
.center {
    display: flex;
    gap: 7px;
}