.wind {
    width: 325px;
    height: 150px;
    background-color: hsl(234, 32%, 17%);
}
@media (min-width: 300px) and (max-width:500px) {
    .wind {
        width: 350px;
        height: 150px;
        background-color: hsl(234, 32%, 17%);
    }
}
@media (min-width:700px) and (max-width: 900px) {
    .wind {
        width: 300px;
        height: 150px;
        background-color: hsl(234, 32%, 17%);
    }
}

.centerWind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(240, 15%, 95%);
}
.wTitle {
    font-size: 13px;
    color: #E7E7EB;
}
.num {
    margin: 0;
    font-size: 55px;
}
.numTwo {
    margin: 0;
    display: flex;
    align-items: center;
}
.numThree {
    display: flex;
    gap: 1rem;
}
.svg {
    width: 25px;
    height: 25px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(230, 5%, 47%);
    border-radius: 100px;
}
.line {
    margin-block-end: 10px;
}
.nameW {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.line {
    display: flex;
}
