body {
    max-width: 1440px;
    background-color:hsl(248, 35%, 8%);
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
}


/*this is about the day*/
.time {
    width: 25%;
    height: 645px;
    background-image: url("../public/nubes.png");
    background-size: 550px;
    background-position:center top 70px;
    background-repeat:no-repeat;
    background-color: hsl(234, 32%, 17%);
    padding-top: 15px;
    background-blend-mode:soft-light;
}
.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.search {
    width: 110px;
    height: 30px;
    background-color: hsl(230, 5%, 45%);
    border: none;
    border-radius: 2px;
    color: hsl(230, 7%, 83%);
}
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: hsl(230, 5%, 47%);
    border: none;
    border-radius: 150px;
    color: hsl(230, 7%, 83%);
}



/*this is about the table*/
.info{
    width: 75%;
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.change {
    width: 800px;
    display: flex;
    justify-content: right;
    gap: 15px;
    margin-block-end: 50px;
}
.change > button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100px;
}

.days {
    width: 800px;
    height: 200px;
}


.lights {
    width: 800px;
    height: 100px;
}



/*this the big icon*/
.today {
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tempBox {
    display: flex;
    justify-content: center;
    align-items: end;
}
.temp {
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 70px;
}
.cel {
    margin-block-end: 10px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}
.description {
    display: flex;
    justify-content: center;
    color: white;
}
.date {
    display: flex;
    justify-content: center;
    color: white;
}
.locations {
    display: flex;
    justify-content: center;
    color: white;
}
.icon {
    width: 300px;
    height: 300px;
}


