.four {
    width: 130px;
    height: 200px;
    background-color: hsl(234, 32%, 17%);
}
.centerFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(240, 15%, 95%);
}
.cantFour {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.iconFour {
    width: 100px;
    height: 100px;
}
.minFour {
    display: flex;
    color: hsl(240, 15%, 95%);
}
.maxFour {
    display: flex;
    color: hsl(240, 8%, 54%);
}