.one {
    width: 130px;
    height: 170px;
    background-color: hsl(234, 32%, 17%);
}
.centerOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(240, 15%, 95%);
}
.cantOne {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.iconOne {
    width: 100px;
    height: 70px;
}
.minOne {
    display: flex;
    color: hsl(240, 15%, 95%);
}
.maxOne {
    display: flex;
    color: hsl(240, 8%, 54%);
}