.three {
    width: 130px;
    height: 200px;
    background-color: hsl(234, 32%, 17%);
}
.centerThree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(240, 15%, 95%);
}
.cantThree {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.iconThree {
    width: 100px;
    height: 100px;
}
.minThree {
    display: flex;
    color: hsl(240, 15%, 95%);
}
.maxThree {
    display: flex;
    color: hsl(240, 8%, 54%);
}